.dashBoard-container{
    padding: 2.4%;
    display: flex;
    background-color: #d9e6f8;
    width: 100%;
}
.leftSide{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2%;
    width: 74%;
}
.rightSide{
    width: 100%;
}
.card-container{
    background-color: white;
    font-size: smaller;
    border-radius: 12px;
    padding: 3%;
    width: 100%;
    height: 140vh;
}
.rightSide .card-container{
    margin-left: 1.5%;
    width: 100%;
}
.total{
    width: 100%;
    height: 18vh;
    box-shadow: 1px 7px 6px 3px rgb(56 56 56 / 4%);
    display: flex;
    margin-bottom: 4%;
    border-radius: 9px;
}
.student{
    background-color: #D50B4F;
}
.student:hover{
    box-shadow: 1px 7px 6px 3px rgba(243, 156, 156, 0.144);;
}
.teacher{
    background-color: rgb(255, 207, 67);
}
.teacher:hover{
    box-shadow: 1px 7px 6px 3px rgba(255, 208, 67, 0.089);
}
.total-content{
    align-items: center;
    padding: 6%;
    text-align: center;
    transition: transform 0.2s;
    width: 100%;
    background-color: white;
    margin-left: 5%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;

}
.student-bg{
    background: #D50B4F;
}
.teacher-bg{
    background: #FFCF43;
}
.img-container{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26%;
    height: 9vh;
}
.img-container img{
    height: 6vh;
    width: 2.6vw;
}
img{
    width: 50%;
}
.total-container{
    display: flex;
}
.total-data{
    margin-left: 8%;
}
.total-data h6{
    font-size: 150%;
    font-weight: 700;
    color: #01345B;
}
.total-data p{
    font-size: 100%;
    font-weight: 400;
    color: #01345B;
}
.percentage{
    height: 18vh;
}
.content-percentage{
    height: 16vh;
}
.content-percentage img{
    height: 11.7vh;
    width: 35%;
}
.total-right{
    margin-left: 3%;
}

@media (max-width: 768px) {
    .dashBoard-container{
        padding: 2.4%;
        display: flex;
        background-color: #d9e6f8;
    }
    .leftSide{
        display: flex;
        justify-content: center;
        margin-bottom: 2%;
        width: 74%;
    }
    .card-container {
        background-color: white;
        font-size: smaller;
        border-radius: 12px;
        padding: 3%;
    }
  }
  
  @media (max-width: 480px) {
    .calendar {
      padding: 5px;
    }
    .header{
      margin-bottom: auto;
    }
    .cell{}
    .number{}
    .month-change{}
    .month-change img{}
    .Calendar-name{}
  }