@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */
@font-face {
    font-family: 'Poppins';
    src: url('/src/assets/fonts/PoppinsLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('/src/assets/fonts/PoppinsRegular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('/src/assets/fonts/PoppinsBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
  }
  